* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #f1f1f1;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
   text-align: center;
   margin: 0 auto;
   max-width: 600px;
   width: 100%;
   /* height: 100%; */
}

header {
   max-width: 600px;
   width: 100%;

   text-align: center;
   padding: 10px;
   margin: 0 auto;
}

img {
   width: 190px;
}

h1 {
   font-size: 24px;
   color: #606062;
   text-align: center;
   border: 5px solid #606062;
   padding: 10px;
   margin-bottom: 10px;
}

h2 {
   font-size: 20px;
   text-align: center;
   color: #7a797b;

}

h3 {
   font-size: 18px;
   font-weight: normal;
   color: #606062;
   padding: 10px 0;
   border-top: 2px solid #606062;
   border-bottom: 2px solid #606062;
}

p {
   font-size: 18px;
   line-height: 25px;
   text-align: justify;
   color: #616163;
   margin: 20px;
}

a {
   font-size: 16px;
   color: white;
   background-color:  #25D366;
   text-decoration: none;
   border-radius: 25px;
   padding: 10px 15px;
   text-align: center;
}
a:hover {
   background-color: #1ebe5d;
}
a:focus {
   outline: 2px solid #0b1bc9;
}


section {
   padding: 10px;
   margin-top: 10px;
}

footer {
   margin: 0 auto;
   max-width: 600px;
   width: 100%;
   min-height: 80px;
   background-color: #606062;
   margin-top: 30px;
   padding: 10px;
      font-size: 14px;
   color: white;
   text-align: center;
}
